* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

ul {
  list-style: none; }

/** --------- HEADER --------- **/
nav {
  width: 100%;
  height: 50px;
  background-color: #cab8ff;
  position: fixed;
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(2, 1fr); }
  nav .logo-bar {
    width: 40px;
    height: 40px;
    padding: 5px 0px 0px 5px; }
  nav .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px; }
  nav .nav-bar li a {
    text-decoration: none;
    font-family: "Cinzel Decorative", cursive;
    color: #805cec;
    font-size: 15px;
    font-weight: 700;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.5s; }
  nav .nav-bar li:hover {
    transform: scale(1.15); }
  nav .nav-bar a:hover {
    color: #f6f078; }

/** --------- MAIN --------- **/
.presentacion {
  background-color: #cab8ff;
  padding-top: 70px;
  display: flex;
  flex-flow: column wrap;
  align-items: center; }
  .presentacion .contenedor-presentacion-inicial {
    width: 70%;
    height: 400px;
    background-color: #fff9ec;
    box-shadow: 8px 8px 7px 0px #aba9af;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .presentacion .contenedor-presentacion-inicial .p-i-texto h1 {
      color: #805cec;
      font-size: 25px;
      font-family: "Cinzel Decorative", cursive; }
    .presentacion .contenedor-presentacion-inicial .p-i-texto p {
      color: #f6f078;
      font-size: 23px;
      font-weight: 500;
      width: 400px;
      height: 200px;
      text-indent: 20px;
      padding: 5px 0px 0px 20px; }
    .presentacion .contenedor-presentacion-inicial .p-i-img {
      width: 500px;
      height: 350px;
      margin: 20px 0px 0px 30px; }
  .presentacion .contenedor-presentacion-secundaria {
    display: flex; }
    .presentacion .contenedor-presentacion-secundaria .p-s-item {
      margin: 40px 20px 20px;
      text-align: center;
      justify-content: center; }
      .presentacion .contenedor-presentacion-secundaria .p-s-item p {
        width: 250px;
        height: 80px;
        color: #ffffff;
        text-align: center; }
      .presentacion .contenedor-presentacion-secundaria .p-s-item img {
        width: 120px;
        height: 120px; }

.titulo-texto-svg {
  display: flex;
  justify-content: center;
  padding: 40px 10px; }
  .titulo-texto-svg img {
    width: 40px;
    height: 40px; }
  .titulo-texto-svg h1, .titulo-texto-svg h2 {
    color: #805cec;
    font-size: 30px;
    font-family: "Cinzel Decorative", cursive;
    padding: 0px 10px; }

.titulo {
  padding-top: 70px; }

.galeria-img {
  display: flex;
  flex-flow: row wrap;
  margin-left: 220px;
  margin-bottom: 30px; }
  .galeria-img img {
    width: 350px;
    height: 250px;
    border-radius: 5px;
    margin: 0px 20px 20px 0px; }

/** --------- FOOTER --------- **/
.footer {
  background-color: #cab8ff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px; }
  .footer .contenedor-contacto h3, .footer .contenedor-contacto h5 {
    color: #ffffff;
    font-family: "Cinzel Decorative", cursive;
    font-size: 25px; }
  .footer .contenedor-contacto .contacto-lista li {
    color: #805cec;
    list-style: none;
    padding-left: 5px; }
  .footer .contenedor-contacto .contacto-lista i {
    color: #ffffff;
    font-size: 25px;
    padding: 5px;
    margin-left: 5px; }
  .footer .contenedor-contacto .iconos-footer i {
    color: #ffffff;
    font-size: 25px;
    margin: 10px 0px 0px 20px;
    transition: 1s; }
  .footer .contenedor-contacto .iconos-footer i:hover {
    color: #805cec;
    cursor: pointer;
    transform: rotate(360deg) scale(1.7); }
  .footer .contenedor-newsletter {
    justify-content: space-between; }
    .footer .contenedor-newsletter .newsletter-texto {
      margin-bottom: 80px; }
      .footer .contenedor-newsletter .newsletter-texto h4 {
        color: #ffffff;
        font-family: "Cinzel Decorative", cursive;
        font-size: 25px; }
      .footer .contenedor-newsletter .newsletter-texto p {
        color: #805cec;
        width: 250px;
        height: 40px; }
    .footer .contenedor-newsletter .newsletter-input input {
      color: #805cec;
      border-style: none;
      border-radius: 5px;
      width: 230px;
      height: 25px;
      padding: 10px 0px 10px 5px;
      margin-bottom: 20px; }
    .footer .contenedor-newsletter .newsletter-input input::placeholder {
      color: #f6f078; }
    .footer .contenedor-newsletter .newsletter-input a {
      text-decoration: none;
      font-family: "Cinzel Decorative", cursive;
      font-weight: 700;
      color: #ffffff;
      background-color: #805cec;
      box-shadow: 8px 8px 10px -3px #979595bf;
      border-radius: 20px;
      padding: 5px 50px;
      margin-left: 35px;
      cursor: pointer; }
    .footer .contenedor-newsletter .newsletter-input a:hover {
      background-color: #f6f078;
      color: #805cec; }
